.pop-up-box-documents-options {
    background-color: rgb(238, 238, 238);
    border-radius: 10%;
    border: 1px solid black;
    width: 80px;
    height: 70px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}