.library-page-project-container{
    width: 911px;
    height: 555px;
}

.library-page-project-title-button{
    width: 60px;
    height: 30px;
    border: none;
    background-color: transparent;
    font-size: 23px;
    cursor: pointer;
}

.library-page-project-title-form{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 570px;
    align-items: center;
}

.library-page-project-last-accessed-button{
    width: 180px;
    height: 30px;
    border: none;
    background-color: transparent;
    font-size: 23px;
    cursor: pointer;
}