#title-button {
    width : 55px;
    margin-Right: 542px;
    border: none;
    background-color: var(--bg-button-color);
    color: var(--text-color);
    transition: background 0.3s ease, color 0.3s ease
}

#title-button:hover{
    background-color: var(--bg-button-hover-color);
}

#last-accessed-button {
    width : 130px;
    border: none;
    background-color: var(--bg-button-color);
    color: var(--text-color);
    transition: background 0.3s ease, color 0.3s ease
}

#last-accessed-button:hover{
    background-color: var(--bg-button-hover-color);
}