.project-grid-container{
    width: 911px;
    height: 555px;
}

.project-grid-title-button{
    width: 60px;
    height: 30px;
    border: none;
    background-color: transparent;
    font-size: 23px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    left: 10px;
}

.project-grid-title-button:hover{
    background-color: #e0e0e0;
}

.project-grid-title-form{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 570px;
    align-items: center;
    justify-content: space-around;
}

.project-grid-last-accessed-button{
    width: 180px;
    height: 30px;
    border: none;
    background-color: transparent;
    font-size: 23px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    right: 10px;
}

.project-grid-last-accessed-button:hover{
    background-color: #e0e0e0;
}