.side-bar-container{
    position: absolute;
    width: 400px;
    height: 722px;
    border-right: 1px #E1E0E0 solid;
    padding-top: 3%;
    top: 18.2%;
}

#side-bar-contents{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
