.user-menu {
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    border: 1px solid black;
    width: 125px;
    height: 125px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.user-menu-cancel-button {
    font-size: 23px;
    background: transparent;
    border: none !important;
    cursor: pointer;
    border-radius: 5px;
}

.user-menu-cancel-button:hover{
    background-color: rgba(238, 238, 238, 1);
}
