test.py
__pycache__/
*.pyc
node_modules
test_data/dummy.pdf
test_data/UB03.pdf
test_data/TagModel.pdf
test_data/UB04.pdf
database/utils/mongo_configuration.py
services/tests/upload_method_santiago.py
services/tests/embeddings.py
upload_method_santiago.py
database/utils/mongo_configuration.py
.vscode/settings.json
.env
pipipupu.py
validators/conversation_validator.py
.coverage