:root {
    --bg-color: #F9FAFB;
    --bg-login-button-color: #4261d5;
    --bg-login-button-hover-color: #2f4ab5;
    --bg-sidebar-color: #F3F4F6;
    --text-color: #1F2937;
    --text-secondary-color: 	#6B7280;
    --bg-button-color: #FFFFFF;
    --bg-button-hover-color: #e2e6ea;
    --placeholder-color: #212529;
  }
  
  [data-theme='dark'] {
    --bg-color: #1E1E2F;
    --bg-login-button-color: #b0e0e6;
    --bg-login-button-hover-color: #a0d3da;
    --bg-sidebar-color: #0D0D15;
    --text-color: #F0F0F5;
    --text-secondary-color: #A0A0B0;
    --bg-button-color: #2A2A3B;
    --bg-button-hover-color: #1c1f23;
    --placeholder-color : rgba(248, 249, 250, 1);
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background 0.3s ease, color 0.3s ease;
  }