.library-page-container{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 870px;
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  color: #333;
  border: 1px grey solid;
  box-shadow: 0 3px 2px rgb(103, 99, 99);
  border-radius: 5px; 
}

.library-page-header-content{
    display: flex;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.library-page-user-button{
    position: relative;
    right: 50%;
}

hr{
    border: 1px #E1E0E0 solid;
}
 
.library-page-content-container{
    position: relative;
    left: 31.3%;
    width: 911px;
    height: 763px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.library-page-content-container-title{
    font-size: 48px;
}

.library-page-content-container-dashboard{
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.library-page-content-container-projects{
    width: 911px;
    height: 555px;
}

.arcai-logo {
    width: 100px;
    height: 100px;
}
  