#btn {
    color: var(--text-color);
    background-color: var(--bg-button-color);
    border:none;
    transition: background 0.3s ease, color 0.3s ease;
}

#btn:hover{
    background-color: var(--bg-button-hover-color);
}