#create-project-button {
    border: none;
    background-color: var(--bg-button-color);
    color: var(--text-color);
}

#create-project-button:hover{
    background-color: var(--bg-button-hover-color);
}