.sign-out-button{
    font-size: 23px;
    background: transparent;
    border: none !important;
    cursor: pointer;
    border-radius: 5px;
}

.sign-out-button:hover{
    background-color: rgba(238, 238, 238, 1);
}
