#set-bibtex-button{
    border: none;
    background-color: var(--bg-button-color);
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 5px;
}

#set-bibtex-button:hover{
    background-color: var(--bg-button-hover-color);
}