#sign-out-button{
    border: none;
    background-color: var(--bg-button-color);
    color: var(--text-color);
}

#sign-out-button:hover{
    background-color: var(--bg-button-hover-color);
}

#delete-button{
    border: none;
    background-color: var(--bg-button-color);
    color: red;
}

#delete-button:hover{
    background-color: var(--bg-button-hover-color);
}